.dialog a {
    color: #010024;
    text-decoration: none;
    font-weight: 600;
}
.dialog a.active{
    color:white;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dialog{
    margin-top: 10px;
}