.img{
    width: 100px;
    height: 100px;
}
.body{
display: flex;
    margin: 20px;
}
.info{
    margin-left: 20px;
}

.selectedPage{
    font-weight: bold;
    font-size: 20px;
}
.selectedPage:hover{
    cursor: pointer;
}

.span:hover{
    cursor: pointer;
}
.preloader{
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 50%;

}