.app-wrapper {
    display: grid;
    width: 1200px;
    height: 950px;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background: linear-gradient(#010024,darkblue, lightblue);
    font-weight: 600;
    color: white;
}


